@charset "utf-8";
@import "compass";
@import "base";

@import "module";
@import "pages/form";

$font:'Amatic SC', cursive;

// form2
.fm__heading {
  padding: 50px 0;
  text-align: center;
  font-family: $font;
  font-size: 40px;
}

.fm-table {
  width: 800px;
  margin: 0 auto;
  th {
    width: 200px;
    padding: 0 10px 0 0;
    text-align: left;
  }
  td {

  }
  input[type="text"],
  input[type="tel"],
  input[type="email"] {

  }
}
