extends include/_base.pug
block head-title
  title form関連

block prepend body
  div.contents
    h1 From list
    ul
      li
        a(href="form/") EFO

block js-link
  script(src="./js/common.js")
